
<h1>Posts</h1>
<table>

   
      <th>タイトル</th>

  <tbody>
    <% @posts.each do |post| %>
      <tr id="<%= post.id %>">
        <%= render 'post', post: post %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_post_path %>