<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<table>

   
      <th>Title</th>

      <%# Userの1行を削除 %>
      <th colspan="2"></th>
   

  <tbody>
    <% @posts.each do |post| %>
      <tr id="<%= post.id %>">
        <%= render 'post', post: post %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_post_path %>